body {
    height: 98vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(223, 202, 16);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/img/fundo-snake2.png');
    background-repeat: round;
}

body p {
    color: black !important;
    font-size: 16px;
}

body .link {
    text-decoration: none !important;
}